.img-text,
.image-text {
  font-style: italic;
  font-size: 12.8px;
  text-align: center;
  margin-bottom: 0.3 em; }

h1.post-title {
  margin: 0 auto; }

.post-content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

/* The Post prev/next navigation */
.post-nav {
  margin: 12px 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-weight: 500; }
  .post-nav a {
    color: #000;
    text-decoration: none; }
    .post-nav a button {
      background-color: transparent !important; }

.mdl-layout-title a {
  text-decoration: none;
  color: #424242; }

blockquote p {
  display: inline; }

.hauth-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #2196f3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.hauth-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.hauth-header .mdl-layout__header-row {
  padding-left: 40px; }

.hauth-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto; }

.hauth-content {
  border-radius: 2px;
  padding: 80px 56px; }

.hauth-layout.is-small-screen .hauth-content {
  padding: 40px 28px; }

.hauth-footer {
  padding-left: 40px; }

.hauth-footer .mdl-mini-footer--link-list a {
  font-size: 13px; }

/* Home Page */
.hauth-homepage .mdl-layout-title a {
  color: white; }
.hauth-homepage .mdl-layout__content {
  padding-top: 40px; }
.hauth-homepage .my-image {
  border-radius: 100%;
  width: 80%;
  height: auto; }

.mdl-demo .mdl-layout__header-row {
  padding-left: 40px; }

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit; }

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none; }

.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible; }

.mdl-demo .mdl-layout__tab-bar-container {
  height: 64px; }

.mdl-demo .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px; }

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px; }

.mdl-demo main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px; }

.mdl-demo .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.mdl-demo .mdl-card > * {
  height: auto; }

.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px); }

.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px; }

.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit; }

.mdl-demo .mdl-card__actions a:hover,
.mdl-demo .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent; }

.mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12); }

.mdl-demo #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999; }

.mdl-demo .mdl-layout__content section {
  position: relative;
  margin-bottom: 48px; }

.mdl-demo section.section--center {
  max-width: 860px; }

.mdl-demo #features section.section--center {
  max-width: 620px; }

.mdl-demo section > header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mdl-demo section > .section__play-btn {
  min-height: 200px; }

.mdl-demo section > header > .material-icons {
  font-size: 3rem; }

.mdl-demo section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px; }

.mdl-demo section .section__circle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.mdl-demo section .section__text {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 8px; }

.mdl-demo section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em; }
  .mdl-demo section .section__text h5 a {
    color: inherit; }

.mdl-demo section .section__text a {
  text-decoration: none; }

.mdl-demo section .section__circle-container .section__circle-container__circle,
.mdl-demo section .section__circle-container img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0; }

.mdl-demo section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px; }

.mdl-demo .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px; }

.mdl-demo section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px; }

.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13); }

.mdl-demo .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px; }

.mdl-demo .mdl-layout__tab-panel:not(#overview) {
  background-color: white; }

.mdl-demo #features section {
  margin-bottom: 72px; }

.mdl-demo #features h4, #features h5 {
  margin-bottom: 16px; }

.mdl-demo .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.mdl-demo .toc h4 {
  font-size: 0.9rem;
  margin-top: 0; }

.mdl-demo .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block; }

.mdl-demo .mdl-menu__container {
  z-index: 99; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
  font-size: 13px; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
