        <footer class="hauth-footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer--link-list">
              {% for my_page in site.pages %}
              {% if my_page.title %}
              <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </footer>
<script src="{{ "/js/material.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
    (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
            (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
            m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
    })(document, window, '//138.68.107.79:9000/tracker.js', 'fathom');
    fathom('set', 'siteId', 'IQDLX');
    fathom('trackPageview');
</script>
<!-- / Fathom -->